*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #cf1919;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.contenedor {
    width: 900px;
    background-color: #e6e6e6;
    border: 2px solid #333;
    border-radius: 15px;
    overflow: hidden;
}

.header {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #333;
    background-color: #ddd;
}

.contenido {
    display: flex;
}

/* LADO IZQUIERDO */
.perfil {
    width: 30%;
    border-right: 2px solid #333;
    padding: 20px;
    text-align: center;
}

.foto {
    width: 150px;
    height: 150px;
    border: 2px solid #333;
    border-radius: 50%;
    margin: 0 auto 20px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frase {
    font-size: 18px;
    margin-top: 10px;
}

/* LADO DERECHO */
.informacion {
    width: 70%;
    padding: 20px;
}

.gustos {
    margin-bottom: 40px;
}

.gustos ul {
    margin-top: 10px;
    padding-left: 20px;
}

.comidas table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.comidas th,
.comidas td {
    border: 2px solid #333;
    padding: 8px;
    text-align: center;
}

.comidas th {
    background-color: #ddd;
}
